<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= heading%></h1>
    <h2>That page does not exist</h2>
    <p>
      This is a 404 page test. This is a 404 page test. This is a 404 page test.
      This is a 404 page test.
    </p>
    <p>
      This is a 404 page test. This is a 404 page test. This is a 404 page test.
      This is a 404 page test.
    </p>
    <p>
      This is a 404 page test. This is a 404 page test. This is a 404 page test.
      This is a 404 page test.
    </p>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
