<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= heading%></h1>
    <h2>This is the About Page</h2>
    <!-- <p>
      This is a About page test. This is a About page test. This is a About page
      test. This is a About page test.
    </p>
    <p>
      This is a About page test. This is a About page test. This is a About page
      test. This is a About page test.
    </p>
    <p>
      This is a About page test. This is a About page test. This is a About page
      test. This is a About page test.
    </p> -->
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
